[submodule "vendor/monero"]
	path = vendor/monero
	url = https://github.com/mollyim/monero.git
[submodule "vendor/boringssl"]
	path = vendor/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "vendor/unbound"]
	path = vendor/unbound
	url = https://github.com/NLnetLabs/unbound.git
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium.git
