<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:usesCleartextTraffic="true">
        <service android:name=".service.InProcessWalletService" />

        <service
            android:name=".service.SandboxedWalletService"
            android:isolatedProcess="true"
            android:process=":wallet_service" />

    </application>

</manifest>
